 

  .product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
  }

  .product img {
    max-width: 100px;
    margin-right: 20px;
  }

  .product-info {
    flex-grow: 1;
  }

  .product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .product-price {
    font-size: 1.1em;
    color: #6c1ca8;
    margin-bottom: 5px;
  }

  .product-rating {
    color: #7a7474;
    margin-bottom: 5px;
  }

  .order-button {
    background-color: #6c1ca8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .order-button:hover {
    background-color: #e2861c;
  }