body{
  margin: 0 0 0 0;
  background: var(--color-1);
  color: var(--color-3);
  font-family: var(--font-1);
  font-weight: 400;
  line-height: 1.46667;
  letter-spacing: 0;
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
}